body {
    font-family: Arial, sans-serif;
    margin: 20px;
}

h1 {
    text-align: center;
    margin-bottom: 20px;
}

.image-box {
  width: 200px;
  height: 200px;
  border: 2px solid black;
  margin: 20px;
}
  

.section {
    border: 1px solid #000;
    padding: 10px;
    margin-bottom: 20px;
}

h2 {
    background-color: #ddd;
    padding: 5px;
    margin-top: 0;
}

label {
    display: inline-block;
    width: 150px;
    margin-bottom: 5px;
}

input {
    margin-bottom: 10px;
    padding: 5px;
    width: calc(100% - 160px);
}

input[type="date"], input[type="file"] {
    width: auto;
}