/* General Styles */
body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #800000;
}

a {
    text-decoration: none;
    color: white;
}

img {
    max-width: 100%;
    height: auto;
}

/* Header Styles */
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #000000;
    padding: 20px;
    border-radius: 8px 8px 0 0;
}

.logo img {
    width: 50px;
    height: auto;
}

.nav {
    display: flex;
    gap: 10px;
}

.nav-link {
    font-size: 16px;
    background-color: #800000;
    padding: 10px 20px;
    border-radius: 20px;
    font-weight: bold;
}

.profile-picture img {
    width: 50px;
    border-radius: 50%;
    height: auto;
}

/* Main Content Section */
.content {
    display: flex;
    justify-content: space-between;
    padding: 40px;
    margin: auto;
    
}

.left-box, .right-box {
    border: 2px solid #000;
    padding: 20px;
    width: 45%;
    background-color: black;
    border-radius: 8px;
    color: white;
}

.left-box {
    text-align: left;
}

.right-box {
    text-align: right;
}

.btn {
    background-color: black;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    margin: 20px 0;
    cursor: pointer;
}

.social-links a {
    margin-left: 5px;
    
}

.right-image {
    width: 150px;
    margin-right: 125px;
}

